<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="register.css" /> -->
    <style>
        input[type=text],input[type=password] {
    width:550px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;

  }
    </style>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="first_name" placeholder="Enter the first name"><br>
  <input type="text" name="last_name" placeholder="Enter the last name"><br>
  <input type="email" name="email" placeholder="Enter the email id"><br>
  <input type="password" name="password" placeholder="Enter the password"><br>
  <input type="password" name="password1" placeholder="Confirm password"><br>
  <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>